
.wrap{witdh:100%;}
.wrap label{display:inline-block; text-align:right;}
.aip_item {position:relative; padding:0 0 10px 280px; margin-bottom:20px;}
.txt-impt {color:#f00;}
.txt-info {padding:3px 0 0 50px;}
.fleft {folat:left;}
.fright {float:right;}

