.flash_l{background:url(/pic/financing/flash_l.jpg) no-repeat left; width:15px; height:410px;}
.flash_m{background:url(/pic/financing/flash_m.jpg) repeat-x;height:410px;}
.flash_r{background:url(/pic/financing/flash_r.jpg) no-repeat; width:111px; height:410px;}