<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">		
	<bean name="/assureAction" class="com.cssweb.rzrq.web.AssureAction"/>
	<bean name="/pledgeAndKeepAction" class="com.cssweb.rzrq.web.PledgeAndKeepAction"></bean>
	<bean name="/registerAction" class="com.cssweb.rzrq.web.RegisterAction"></bean>
	<bean name="/adviceAction" class="com.cssweb.rzrq.web.AdviceAction"></bean>
</beans>
