<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">		
	<bean name="/branchManagerAdminAction" class="com.cssweb.systemset.web.BranchManagerAdminAction"/>
	<bean name="/tsystemFundSaleFrontAction" class="com.cssweb.systemset.web.TsystemFundSaleFrontAction"/>
	<bean name="/tgfFundInfoAction" class="com.cssweb.systemset.web.TgfFundInfoAction"></bean>
	<bean name="/jjylbAction" class="com.cssweb.systemset.web.JjylbAction"></bean>
</beans>
