<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<bean name="/baseInfo" class="com.cssweb.F10.gazx.info.web.BaseInfoAction"/>
	<bean name="/f10" class="com.cssweb.F10.gazx.base.web.F10Action"/>
</beans>


