.ywbm li{background:url(/pic/investorNexus/rbut01a.jpg) no-repeat; width:198px; height:29px; line-height:29px; text-align:center;margin-top:5px}
.ywbm li a:hover{background:url(/pic/investorNexus/rbut01h.jpg) no-repeat;font-weight:bold;height:29px;display:block; color:#1e3d61}


