.bluelj{color:#004E96;}
.bluelj a{color:#004E96;}
.bluelj a:hover{color:#FF5300;}
.redlj{color:#cc0000;}
.redlj a{color:#cc0000;}
.redlj a:link{color:#cc0000;}
.redlj a:hover{color:#FF5300;}
.orangelj{color:#FF0000;}
.orangelj a{color:#FF0000;}
.orangelj a:hover{color:#cc0000;}
.xuxian{background:url(../pic/xuxian.gif) repeat-x center; line-height:12px;}

.gray{color:#999999;}
.b{font-weight:bold;}

.blank{color:#000000;}
.red{color:#FF0000;}
.blue{color:#004E96;}
.green{color:#00AA00;}