<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">		
	<bean name="/tcsswebFwcpcxAction" class="com.cssweb.subscribe.web.TcsswebFwcpcxAction"/>
    <bean name="/tcsswebFwtcdyAtion" class="com.cssweb.subscribe.web.TcsswebFwtcdyAtion"/>
    <bean name="/tcsswebUserCppjAtion" class="com.cssweb.subscribe.web.TcsswebUserCppjAtion"/>
    <bean name="/tcsswebFwcpyslAtion" class="com.cssweb.subscribe.web.TcsswebFwcpyslAtion"/>
    <bean name="/tcsswebDcxdzAction" class="com.cssweb.subscribe.web.TcsswebDcxdzAction"/>
    <bean name="/tcsswebDcxListAction" class="com.cssweb.subscribe.web.TcsswebDcxListAction"/>
</beans>
