<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	
	<display-name></display-name>
	
	<servlet>
		<servlet-name>SimpleUploader</servlet-name>
		<servlet-class>com.cssweb.common.util.FCKeditor.uploader.SimpleUploaderServlet</servlet-class>
		<init-param>
			<param-name>baseDir</param-name>
			<param-value>/UserFiles/</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFile</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFile</param-name>
			<param-value>php|php3|php5|phtml|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|dll|reg|cgi</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsImage</param-name>
			<param-value>jpg|gif|jpeg|png|bmp</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsImage</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFlash</param-name>
			<param-value>swf|fla</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFlash</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	  
	  <servlet-mapping>
	    <servlet-name>SimpleUploader</servlet-name>
	    <url-pattern>/FCKeditor/editor/filemanager/upload/simpleuploader</url-pattern>
	  </servlet-mapping> 
	
	<!-- Spring ApplicationContext配置文件的路径?,可使用通配符，多个路径用?1,号分隔
		此参数用于后面的Spring-Context loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/*.xml</param-value>
	</context-param>
	
	<!--Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 把应用名添加到context 的 attribute里 -->
	<listener>
		<listener-class>com.cssweb.common.web.listener.InitProjectServletContextListener</listener-class>
	</listener>
	
	<!-- 著名 Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 过滤请求中参数里含有脚本的部分 -->
	<filter>
		<filter-name>filtrateRequestParamterFilter</filter-name>
		<filter-class>com.cssweb.common.web.filter.FiltrateRequestParamterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtrateRequestParamterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring log4j集成 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<mime-mapping>
        <extension>jad</extension>
        <mime-type>text/vnd.sun.j2me.app-descriptor</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jar</extension>
        <mime-type>application/java-archive</mime-type>
    </mime-mapping>
	<!-- Struts Action Mapping-->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				 /WEB-INF/struts-config.xml,
				 /WEB-INF/plugins/cms/struts-config.xml,
				 /WEB-INF/plugins/cms/category-config.xml,
				 /WEB-INF/plugins/cms/keyword-config.xml,
				 /WEB-INF/modules/soft/struts-config.xml,
				 /WEB-INF/modules/complaints/struts-config.xml,
				 /WEB-INF/modules/frontTvideo/struts-config.xml,
				 /WEB-INF/modules/frontComplaint/struts-config.xml,
				 /WEB-INF/modules/frontMyquote/struts-config.xml,
				 /WEB-INF/modules/frontHandset/struts-config.xml,
				 /WEB-INF/modules/frontBranch/struts-config.xml,
				 /WEB-INF/modules/gpdmGazx/struts-config.xml,
				 /WEB-INF/modules/frontUser/struts-config.xml,
				 /WEB-INF/modules/hq/struts-config.xml,
				 /WEB-INF/modules/gazxfund/struts-config.xml,
				 /WEB-INF/modules/gazxNewStock/struts-config.xml,
				 /WEB-INF/modules/gazxQz/struts-config.xml,
				 /WEB-INF/modules/gazx.fund/struts-config.xml,
				 /WEB-INF/modules/gazx.info/struts-config.xml,
				  /WEB-INF/modules/frontQuestionnaire/struts-config.xml,
				 /WEB-INF/modules/f10.gazx/stock/struts-config.xml,
				 /WEB-INF/modules/f10.gazx/bond/struts-config.xml,
				 /WEB-INF/modules/f10.gazx/qz/struts-config.xml,
				 /WEB-INF/modules/systemCredit/struts-config.xml,
				  /WEB-INF/modules/frontEnterpriseSell/struts-config.xml, 
				  /WEB-INF/modules/frontRoadShow/struts-config.xml, 
				  /WEB-INF/modules/frontQuestion/struts-config.xml, 
				  /WEB-INF/modules/frontAdvice/struts-config.xml, 
				  /WEB-INF/modules/frontProduct/struts-config.xml, 
				  /WEB-INF/modules/systemset/struts-config.xml,
				 /WEB-INF/modules/assetmanager/struts-config.xml,
				 /WEB-INF/modules/collect/struts-config.xml,
				 /WEB-INF/modules/frontHr/struts-config.xml,
				 /WEB-INF/modules/jrsj/struts-config.xml,
				 /WEB-INF/modules/clientService/struts-config.xml,
				 /WEB-INF/modules/developerGroup/struts-config.xml,
				 /WEB-INF/modules/rzrq/struts-config.xml,
				 /WEB-INF/modules/phoneSoft/struts-config.xml,
				 /WEB-INF/modules/subscribe/struts-config.xml,
				 /WEB-INF/modules/gyjj/struts-config.xml,
				 /WEB-INF/fortuneage/struts-config.xml,
				/WEB-INF/modules/london2012/struts-config.xml,
				/WEB-INF/modules/valueSys/struts-config.xml,
				/WEB-INF/modules/branchcomp/struts-config.xml,
				  /WEB-INF/modules/document/struts-config.xml,
				   /WEB-INF/modules/otc/struts-config.xml,
				  /WEB-INF/modules/nxsy/struts-config.xml,
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HTMAction</servlet-name>
		<servlet-class>com.cssweb.common.servlet.HTMServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HTMAction</servlet-name>
		<url-pattern>*.go</url-pattern>
	</servlet-mapping>
	
	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- 默认首页定义 -->
	<welcome-file-list>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.jspx</welcome-file>
		<welcome-file>default.wml</welcome-file>
		<welcome-file>default.mxml</welcome-file>
	</welcome-file-list>
	
	<!-- Error Page定义 -->
	<error-page>
		<error-code>401</error-code>
		<location>/share/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/share/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/share/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/share/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/share/error.jsp</location>
	</error-page>

	
	<!-- taglib引用 -->
	<jsp-config>

		<taglib>
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-logic</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/css-paging</taglib-uri>
			<taglib-location>/WEB-INF/plugins/paging/css-paging.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/css-tree</taglib-uri>
			<taglib-location>/WEB-INF/plugins/tree/css-tree.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/app-dict</taglib-uri>
			<taglib-location>/WEB-INF/plugins/dictionary/dict-view.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>adTag</taglib-uri>
			<taglib-location>/WEB-INF/tlds/adTag.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>GB2Big5Wrapper</taglib-uri>
			<taglib-location>/WEB-INF/tlds/GB2Big5Wrapper.tld</taglib-location>
		</taglib>
		
		<!-- action logic tags libary define -->
		<taglib>
			<taglib-uri>framework-action</taglib-uri>
			<taglib-location>/WEB-INF/tlds/framework-action.tld</taglib-location>
		</taglib>
	    <!-- view tags libary define -->
		<taglib>
			<taglib-uri>framework-view</taglib-uri>
			<taglib-location>/WEB-INF/tlds/framework-view.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>framework-tree</taglib-uri>
			<taglib-location>/WEB-INF/tlds/framework-tree.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
