.joblogin{background:url(/pic/job/joblogin.jpg) no-repeat; width:198px; height:30px;}
.joblogin .biaoqian{padding-top:11px; text-indent:8px; color:#333366; font-weight:bold;}
.joblogin_bg{background-color:#FFF;border-left:1px solid #CCC;border-right:1px solid #CCC;border-bottom:1px solid #CCC; padding:8px;}
.w123{width:123px;}
.w66{width:66px;}
.w334{width:334px;}
.w96{width:96%; margin:0 auto;}
.lh29{line-height:29px;}
.pl_12{padding-left:12px;}
.shzp_tt{background:url(/pic/job/shzp_tt.jpg) repeat-x;border-left:1px solid #a6d0e7;border-right:1px solid #a6d0e7; height:29px;}
.shzp_tt .shzp_bq{background:url(/pic/job/shzp_bq.jpg) no-repeat left bottom;line-height:25px;width:96px;margin-left:5px;text-align:center;padding-top:4px;}
.wenzi_bg{background:url(/pic/job/wenzi_bg.jpg) repeat-x left bottom;}
.xuxian_job td{background: url(/pic/financing/xuxian.gif) repeat-x bottom;}
.ywfw_l_job{background:url(/pic/job/ywfw_tt_l.jpg) no-repeat; width:24px;}
.blueqian{color:#336699;}
.jobtcy_tt{ background:url(/pic/job/tcy_tt.jpg) repeat-x; height:60px; padding-top:15px; padding-left:30px}
.reseum_tt{ background-color:#cfecff;text-align:center;}