<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!-- 注意：本文件已经在WEB-INF下面的action-servlet.xml文件进行引入 -->
<beans default-autowire="byName" default-lazy-init="true">
	<bean name="/admin/itemAction" class="com.cssweb.item.web.ItemAction"/>
</beans>


