.ywfw_l{background:url(/pic/business/ywfw_tt_l.jpg) no-repeat; width:34px;}
.ywfw_m{background:url(/pic/business/ywfw_tt_m.jpg) repeat-x;line-height:25px;}
.ywfw_r{background:url(/pic/business/ywfw_tt_r.jpg) no-repeat; width:17px; }